@import '_vars.scss';

body {
  margin:0;
  padding:$header-height+$padding*2 $padding*2;
  background: $body-color;
  color: #999;
  font-size: $font-size;
  line-height: $line-height;
  font-family: Helvetica, Arial;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: $padding;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $link-color;
  font-weight: bold;
  &:HOVER {
    color: $link-color-hover;
  }
  .active, &:ACTIVE {
    color: $link-color-active;
  }
}

.container {
  position: relative;
  max-width: $max-container-width;
  margin: 0 auto;
}

.row {
  margin: 0 -8px;
}

.text-center {
  text-align: center;
}

.clear {
  clear: both;
}

h3 {
  position: relative;
  display: inline-block;
}

.fa-pencil {
  font-size: 12px;
  position: absolute;
  top: 6px;
  right: -20px;
  opacity:0.4;
}

.circle {
    border-radius: 50%;
}
